.Header{
    height:70px;
    background-color: #e9cc89;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 36px;
    overflow-x: hidden;
    justify-content: space-between;
}

.Header > span{
    color: aliceblue;
    font-size: 30px;
}

.logoimg{
    width: 80px;
    border-radius: 50%;
}

.NavMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 25px;
}

.NavMenu > a{
    display: flex;
    padding: 0 12px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.NavMenu > a > span{
    font-size: 22px;
    letter-spacing: 1.42px;
    position: relative;
    color: #fff;
}

.NavMenu > a > span::after{
    content: "";
    height: 2px;
    background: linear-gradient(to right top, #6bd96c, #00d9a8, #00d3d8, #00c8f1, #73baf0);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    transform-origin: left center;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    opacity: 0;
    transform:scaleX(0);
}

.NavMenu > a > span:hover::after{
    opacity: 1;
    transform:scaleX(1);
}

.menu-btn{
    color:#fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
    margin:0 0 0 20px;
}

.menu-btn .bars-icon{
    display: block;
}

.menu-btn .cross-icon{
    display: none;
}

@media(max-width: 1017px){
    .menu-btn{
        display: block;
        z-index: 1;
    }

    .Header .NavMenu{
        position: fixed;
        background-image:url('/public/images/shreekrishna.jpg');
         max-width:100%;
         background-size: cover;
         object-fit: contain;
         height: 100vh;
         width: 100%;
         display: flex;
         flex-direction: column;
         background-repeat: no-repeat;
         gap: 20px;
         text-align: center;
         resize: both;
         padding-top:80px;
         left: 100%;
         top:0;
         right: 60px;
         transition: all 0.9s ease;
         z-index: 999;
    }

    .NavMenu.active{
        left: 0;
    }

    .menu-btn{
        color:#fff;
        font-size: 23px;
        cursor: pointer;
        margin:0 0 0 800px;
        z-index: 999;
    }

    .menu-btn .cross-icon{
        color: red;
        font-size: 25px;
        font-weight: 800;
    }

}

@media(max-width: 941px){
    .menu-btn{
        color:#fff;
        font-size: 23px;
        cursor: pointer;
        margin:0 0 0 30px;
    }
   
}